# Secrets
docs/SECRETS.md
.env
.env.*
!.env.example

# Dependencies
node_modules/

# OS
.DS_Store

# Document
docs/BLOG.md
docs/BLOG_STRUCTURE.md
docs/VIDEO_STRUCTURE.md

# Character assets
assets/characters/
